[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "composer install --no-dev --optimize-autoloader",
  "npm install"
]

[phases.build]
cmds = [
  "npm run build",
  "php artisan optimize"
]

[start]
cmd = "php -S 0.0.0.0:$PORT -t public"
