[phases.setup]
nixPkgs = [
  "php83",
  "php8Extensions.pdo",
  "php83Extensions.pdo_mysql",
  "php83Extensions.mbstring",
  "php83Extensions.openssl",
  "php83Extensions.tokenizer",
  "php83Extensions.xml",
  "php83Extensions.curl",
  "php83Extensions.fileinfo",
  "nodejs_20"
]


[phases.install]
cmds = [
  "composer install --no-dev --optimize-autoloader",
  "npm install"
]

[phases.build]
cmds = [
  "npm run build",
  "php artisan optimize"
]

[start]
cmd = "php -S 0.0.0.0:$PORT -t public"
